.music__inner{
    display: flex;
    flex-wrap: wrap;

    &.overflow{
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .music{
        margin-right: 20px;

        .music__img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .music__info{
            width: 150px;
            text-align: center;
            @include line-one;
            padding-bottom: 40px;
        }
    }
}

@media (max-width: 1200px){
    .music__inner{
        justify-content: center;
        
        .music{

            .music__img{
                width: 130px;
                height: 130px;
                margin: 10px auto;
            }
            .music__info{}
        }
    }
}

@media (max-width: 800px){
    .music__info{
        margin-top: 70px;
    }
}
